<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Despedida"></Label>
</ActionBar>

<StackLayout orientation="vertical" class="page page-content">
    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView> -->
    <Label class="page-icon fa" text="&#xf017;"></Label>
    <Label class="page-placeholder" [text]="days"></Label>
    <Label class="page-placeholder" [text]="hours"></Label>
    <Label class="page-placeholder" [text]="minutes"></Label>
    <Label class="page-placeholder" [text]="seconds"></Label>
    <!-- Foto de milhouse -->
</StackLayout>